/* Header */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    height: 110px;
}

.logo-move {
    height: 54px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font: inter;

    padding: 80px;
}

.navigation-links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 412px;
}

.navigation-links li a {
    color: #8a94a6;
    font-size: 20px;
    font-weight: 400;
}

.btn-blue {
    color: white;
    background-color: #377dff;
    width: 179px;
    height: 57px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

/* Cover */

.cover-section__container {
    max-width: 1440px;
    padding: 80px;
    display: flex;
    align-items: center;

    margin: 0 auto;
}

.cover-section__left {
    width: 50%;
}

.cover-section__right {
    width: 50%;
}

.cover-section__right img {
    width: 604px;
    height: 616px;
    border-radius: 15px;
}

.cover-section__left h2 {
    color: #323b4b;
    margin-bottom: 34px;
    width: 528px;
    height: 219px;
    left: 100px;
    top: 216.63px;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

.cover-section__left p {
    font-size: 20px;
    line-height: 35px;
    color: #8a94a6;
    margin-bottom: 35px;
    font-weight: 500;
}

.cover-section__left a {
    font-size: 20px;
    line-height: 24px;
    color: #377dff;
}

/* Features Section */

.features-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px;
    background-color: #fafbfc;
}

.features-section__container h2 {
    color: #323b4b;

    font-size: 60px;
    line-height: 73px;

    margin-top: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.features-section__text {
    font-size: 20px;
    line-height: 35px;
    color: #8a94a6;
    margin-bottom: 80px;

    padding-left: 400px;
    padding-right: 200px;
    text-align: center;
}

.features-section__offer {
    display: flex;

    gap: 70px;
    align-items: center;
}

.features-section__offer .social {
    padding: 25px 30px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
}

.features-section__offer .social img {
    margin-bottom: 25px;
}

.features-section__offer .social h3 {
    color: #323b4b;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700px;
    margin-bottom: 21px;
}

.features-section__offer .workplace {
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px 30px;
}

.features-section__offer .workplace h3 {
    color: #323b4b;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700px;
    margin-bottom: 21px;
}

.features-section__offer .workplace img {
    margin-bottom: 25px;
}

.features-section__offer2 .meals h3 {
    color: #323b4b;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700px;
    margin-bottom: 21px;
}

.features-section__offer2 {
    display: flex;

    gap: 70px;
    align-items: center;
}

.features-section__offer2 .meals {
    padding: 25px 30px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 40px;
}

.features-section__offer2 .game {
    padding: 25px 30px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 40px;
}

.features-section__offer2 .game h3 {
    color: #323b4b;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700px;
    margin-bottom: 21px;
}

/* Job Section */

.job-section__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 80px;
    background-color: #ffffff;
}

.job-section__left {
    width: 55%;
}

.job-section__left img {
    width: 100%;
    height: auto;
}

.job-section__right {
    width: 45%;
}

.job-section__right h3 {
    color: #323b4b;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700px;
    margin-bottom: 31px;
    margin-right: 35px;
    margin-left: 100px;
}

.job-section__right p {
    color: #8a94a6;
    font-size: 20px;
    line-height: 35px;
    margin-right: 35px;
    margin-left: 100px;
}

/* Free Vacancy Section */

.freevacancy-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fafbfc;
}

.freevacancy-section__top {
    width: 100%;
    text-align: center;
}

.freevacancy-section__top h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 35px;
    margin-top: 45px;
}

.freevacancy-section__top p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 90px;
}

.freevacancy-section__info {
    margin: 0 auto;
    margin-bottom: 21px;
    display: flex;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    display: flex;
    justify-content: space-between;
    height: 115px;
    width: 880px;
    align-items: center;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    margin-bottom: 37px;
}

.h3-position {
    padding-left: 220px;
    margin-right: 320px;
}

.h3-department {
    margin-right: 95px;
}

.h4-box {
    padding-left: 32px;
}

.p-box1 {
    margin-left: 70px;
}

.p-box2 {
    margin-left: 120px;
}

.p-box3 {
    margin-left: 38px;
}

.p-box4 {
    margin-left: 120px;
}

.box-1 :last-child {
    padding-right: 60px;
}

.box-2 :last-child {
    padding-right: 60px;
}

.box-3 :last-child {
    padding-right: 98px;
}

.box-4 :last-child {
    padding-right: 60px;
}

.freevacancy-section__middle h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #323b4b;
}

.freevacancy-section__middle h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323b4b;
}

.freevacancy-section__middle p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #8a94a6;
}

.freevacancy-section__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-btn {
    background-color: #e5f1ff;
    width: 630px;
    height: 66px;
    border: none;
    border-radius: 10px;
    color: #377dff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    margin-top: 55px;
    margin-bottom: 55px;
}
